process {
    withName : "NFCORE_RNASEQ:RNASEQ:FASTQC_UMITOOLS_TRIMGALORE:TRIMGALORE" {
        ext.args2   = '--nextseq 20'
                // TRIMGALORE option, passed as '--nextseq-trim=20' option to CUTADAPT (TRIMGALORE is a wrapper for CUTADAPT and FASTQC)
                // This option works like regular quality trimming (where one would use -q 20 instead), except that the qualities of G bases are ignored. 
                // This option should always be used when working with data from Illumina sequencers that use two-color chemistry (e.g. NextSeq and NovaSeq).
                // Relevant links:
                // https://cutadapt.readthedocs.io/en/latest/guide.html#nextseq-trim
                // https://nf-co.re/rnaseq/3.1/parameters#trim_nextseq
                // https://sequencing.qcfail.com/articles/illumina-2-colour-chemistry-can-overcall-high-confidence-g-bases/
    }
}
